* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: fontawesome;
  src: url('/assets/fonts/fa-solid-900.woff2')
}

html, body {
  display: flex;
}

body {
  display: flex;
  background-image: linear-gradient(115deg, #dd3311 0%, #fc6400 100%);
}

#title-bar {
  display: flex;
}

#logo-motto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#logo {
  width: 7em;
  padding: 2%;
}

#motto {
  margin-top:3.5em;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  font-size: .5em;
  white-space: nowrap;
}

#container {
  width: 600px;
  margin: 200px auto;
}

#top-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-tabs > div {
  margin-left: 20px;
  font-family: fontawesome;
  font-size: 30px;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 5px black;
}

#content-area {
  background: white;
  width: 90%;
  min-height: 200px;
  margin-top: 30px;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#content-area > div {
  display: none;
}

#content-area > div:first-child {
  display: block;
}